<template name="app">
  {{#if isHomePage}}
    <div class="container">
      {{> bros}}
    </div>
    {{> ordersLog}}
  {{/if}}
  {{#if isMenuPage}}
    <div class="container">
      {{> meals}}
      {{> addMenu}}
    </div>
  {{/if}}
  {{#if isNotFound}}
    <div class="container">
      <p class="nonexistent">
        Страница не найдена.
        Вернитесь к
        <a href="/">списку заказов</a>.
      </p>
    </div>
  {{/if}}
  {{#if loaded}}
    {{#if currentUser}}
      {{> helloUser}}
    {{/if}}
  {{/if}}
</template>

<template name="header">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Foodora</a>
        {{#unless loaded}}
        <img src="loader.gif" id="spinner" />
        {{/unless}}
        <ul class="nav pull-right">
          {{#if showOrdersButton}}
          <li>
            <a data-toggle="modal" href="#orders-log">
              История заказов
            </a>
          </li>
          <li class="divider-vertical"></li>
          {{/if}}
          <li>
            {{loginButtons}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
