<template name="bros">
  {{#if bros.length}}
    <table class="table{{#if currentUser}} user{{/if}}" id="fd-bros">
      <thead>
        <tr>
          <th width="15"></th>
          <th width="20%">
            Братан
          </th>
          <th width="*">Заказ</th>
        </tr>
      </thead>
      <tbody>
        {{#each bros}}
          {{> bro}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p class="nonexistent">
      {{#if loaded}}
        Добавь себя пока других братанов нет!
      {{else}}
        Идет медленная загрузка длинного списка заказов…
      {{/if}}
    </p>
  {{/if}}
</template>

<template name="bro">
  <tr{{#if controlled}} class="controlled"{{/if}}>
    <td class="{{#if missingFood}} missing{{/if}}{{#if ordered}} ordered{{/if}}">
      <span class="tick">
        <i class="icon icon-ok icon-white"></i>
      </span>
      <span class="pause">
        <i class="icon icon-ban-circle icon-white"></i>
      </span>
    </td>
    <td>
      <span class="name">
        <a href="/bro/{{_id}}" title="Просмотреть профиль {{name}}" class="bro-link">
          {{name}}
        </a>
        {{#if typing}}<span class="typing">печатает&hellip;</span>{{/if}}
      </span>
    </td>
    <td>
      {{#if controlled}}
        <form action="#" method="post">
          <div class="row-fluid">
            <div class="span10">
              <input type="search" placeholder="Нет заказа" id="my-order" value="{{meal}}" data-provide="typeahead" data-source='[{{meals}}]' data-mode="multiple" class="span10" {{#if missingFood}} disabled{{/if}} />
            </div>
            <div class="span2">
              <button class="btn btn-block{{#if missingFood}} active{{/if}}" id="no-food" data-toggle="button" type="button">Не обедаю</button>
            </div>
          </div>
        </form>
      {{else}}
        {{#if missingFood}}
          <span class="secondary">Сегодня без обеда</span>
        {{else}}
          {{#if meal}}
            {{meal}}
          {{else}}
            <span class="secondary">Нет заказа</span>
          {{/if}}
        {{/if}}
      {{/if}}
    </td>
  </tr>
</template>

<template name="ordersLog">
  <div class="modal hide" id="orders-log">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>История заказов</h3>
    </div>
    <div class="modal-body">
      {{#if orders.length}}
        <table class="table table-condensed" id="orders-history">
          <tbody>
            {{#each orders}}
              <tr data-dismiss="modal">
                <td>{{meal}}</td>
                <td class="timestamp">
                  {{humanize date}},
                  {{date}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <p class="nonexistent">У вас истории пока нет.</p>
      {{/if}}
    </div>
  </div>
</template>
